.cabecalho{
    background-color: rgb(0, 66, 121);
}

.cabecalho_titulo{
    color: white;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo{
    padding: 15px;
}

.subtitulo{
    padding: 15px;
}