.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(darkblue, lightblue);
}

.title{
    font-size: 50px;
    font-weight: bold;
    color: white;
    animation: flip 5s;
}

.containerLogin{
    background-color: rgb(172, 171, 171);
    padding: 0px 25px 80px 25px;
    margin: 30px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 3px 8px black;
}

.containerLogin input{
    border: 10px;
    font-size: 20px;
    margin-bottom: 40px;
    position: relative;
    top: 25px;
    color: black;
}

.containerLogin input::placeholder{
    color: black;
}

.buttonEnter{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 45px;
}

@keyframes flip {
    from{
        transform: rotateX(90deg);
    }to{
        transform: rotateX(0deg);
    }
}